th, td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: pink;
  color: black;
}

table{
  width: 680px;
  font-size: 16px;
}
div{
  padding: 10px;
}
table, th, td {
  border: 3px solid pink;
}
.th{
  padding: 15px;
  text-align: center;
}
#td{
  padding: 15px;
  text-align: right;
}
tfoot {
  background-color:lavenderblush;
  color: black;
}